/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/assets/scsses/global.scss ***!
  \****************************************************************************************************************************************************/
body {
  margin: 0px;
  min-width: 750px;
  background-color: #02112f; }

body::-webkit-scrollbar {
  display: block;
  width: 12px;
  height: 12px; }

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 2px solid transparent;
  background-clip: content-box;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("NotoSansKR"), url(/fonts/NotoSansKR-Regular-Subset.woff2) format("woff2"), url(/fonts/NotoSansKR-Regular-Subset.woff) format("woff"), url(/fonts/NotoSansKR-Regular-Subset.otf) format("opentype"); }

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local("NotoSansKR"), url(/fonts/NotoSansKR-Medium-Subset.woff2) format("woff2"), url(/fonts/NotoSansKR-Medium-Subset.woff) format("woff"), url(/fonts/NotoSansKR-Medium-Subset.otf) format("opentype"); }

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("NotoSansKR"), url(/fonts/NotoSansKR-Bold-Subset.woff2) format("woff2"), url(/fonts/NotoSansKR-Bold-Subset.woff) format("woff"), url(/fonts/NotoSansKR-Bold-Subset.otf) format("opentype"); }

/* remove input default style */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* upper IE10 version, remove input box default style */
input::-ms-clear {
  display: none; }

/* upper IE10 version, remove input box password eye  */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none; }

/* remove input type number arrow */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* remove select box  default style */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* remove IE Select box arrow */
select::-ms-expand {
  display: none; }

/* remove Firefox input number arrow */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

svg use {
  pointer-events: none; }

* {
  -webkit-tap-highlight-color: transparent; }

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/layouts/Navigations/Footer/Desktop.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___DaG7a {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  z-index: 999999;
  background-color: #02112f; }
  .Desktop-module__container___DaG7a .Desktop-module__flex___2f2NV {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .Desktop-module__container___DaG7a .Desktop-module__flex___2f2NV .Desktop-module__leftBox___2hX4l .Desktop-module__copyRightText___2J3Or {
      font-size: 15px;
      font-weight: bold;
      color: #ffffff; }
    .Desktop-module__container___DaG7a .Desktop-module__flex___2f2NV .Desktop-module__rightBox___3RKWt .Desktop-module__iconBox___lbc2e .Desktop-module__icon___vw70d {
      margin-right: 10px;
      filter: invert(100%);
      width: 40px;
      height: 40px; }

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/layouts/Navigations/Footer/Mobile.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___33aG7 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 0px;
  z-index: 999999;
  background-color: #02112f; }
  .Mobile-module__container___33aG7 .Mobile-module__flex___rCUic {
    height: 60px;
    margin: 0 auto;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
    .Mobile-module__container___33aG7 .Mobile-module__flex___rCUic .Mobile-module__leftBox___NIeYr .Mobile-module__copyRightText___f3EUh {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff; }
    .Mobile-module__container___33aG7 .Mobile-module__flex___rCUic .Mobile-module__rightBox___9bW3N .Mobile-module__iconBox___bTzwZ .Mobile-module__icon___1_AiE {
      margin-right: 20px;
      filter: invert(100%);
      width: 50px;
      height: 50px; }

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/layouts/Navigations/Header/Desktop.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___vRKDY {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 999999;
  background-color: #02112f; }
  .Desktop-module__container___vRKDY .Desktop-module__logo___3iL8- {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px; }
  .Desktop-module__container___vRKDY .Desktop-module__menuButtonGroup___32zrC {
    width: 980px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center; }
    .Desktop-module__container___vRKDY .Desktop-module__menuButtonGroup___32zrC .Desktop-module__menuButton___2dLNw {
      margin-left: 30px;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff; }
    .Desktop-module__container___vRKDY .Desktop-module__menuButtonGroup___32zrC .Desktop-module__menuButton___2dLNw:hover {
      color: #d93025;
      border-bottom: 2px solid #d93025; }

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/layouts/Navigations/Header/Mobile.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___3vbU0 {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 120px;
  z-index: 999999;
  background-color: #02112f; }
  .Mobile-module__container___3vbU0 .Mobile-module__logo___3M3er {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px; }
  .Mobile-module__container___3vbU0 .Mobile-module__menuButtonGroup___VmJxh {
    width: 650px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center; }
    .Mobile-module__container___3vbU0 .Mobile-module__menuButtonGroup___VmJxh .Mobile-module__menuButton___2b6dw {
      margin-left: 60px;
      font-size: 40px;
      font-weight: bold;
      color: #ffffff; }
    .Mobile-module__container___3vbU0 .Mobile-module__menuButtonGroup___VmJxh .Mobile-module__menuButton___2b6dw:hover {
      color: #d93025;
      border-bottom: 4px solid #d93025; }

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/components/molecules/ContentElements/TeckStackCard/Desktop.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___3gtm1 {
  width: 360px;
  border: 1px solid #ffffff;
  padding: 20px; }
  .Desktop-module__container___3gtm1 .Desktop-module__titleText___1LbFZ {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; }
  .Desktop-module__container___3gtm1 .Desktop-module__stackBox___1cKTe {
    margin-top: 20px; }
    .Desktop-module__container___3gtm1 .Desktop-module__stackBox___1cKTe .Desktop-module__stackText___Mmn77 {
      padding: 2px 5px;
      font-size: 20px;
      color: #ffffff;
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      border: 1px solid #ffffff;
      border-radius: 3px; }

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/components/molecules/ContentElements/TeckStackCard/Mobile.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___cTB26 {
  width: 680px;
  border: 1px solid #ffffff;
  padding: 20px; }
  .Mobile-module__container___cTB26 .Mobile-module__titleText___NSo1J {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; }
  .Mobile-module__container___cTB26 .Mobile-module__stackBox___3-LZ2 {
    margin-top: 20px; }
    .Mobile-module__container___cTB26 .Mobile-module__stackBox___3-LZ2 .Mobile-module__stackText___CPiwB {
      padding: 4px 6px;
      font-size: 24px;
      color: #ffffff;
      display: inline-block;
      margin-top: 4px;
      margin-right: 8px;
      border: 1px solid #ffffff;
      border-radius: 3px; }

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/pages/About/templates/Desktop.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___uB5BF {
  width: 980px;
  padding-top: 150px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between; }
  .Desktop-module__container___uB5BF .Desktop-module__leftArea___25X3n {
    width: 580px; }
    .Desktop-module__container___uB5BF .Desktop-module__leftArea___25X3n .Desktop-module__titleBox___3Jnve {
      position: relative;
      margin-bottom: 80px; }
      .Desktop-module__container___uB5BF .Desktop-module__leftArea___25X3n .Desktop-module__titleBox___3Jnve .Desktop-module__text___iIejC {
        font-size: 80px;
        font-weight: bold;
        color: #ffffff; }
      .Desktop-module__container___uB5BF .Desktop-module__leftArea___25X3n .Desktop-module__titleBox___3Jnve .Desktop-module__image___3_wP0 {
        position: absolute;
        top: 5px;
        left: 425px;
        width: 70px;
        height: 70px; }
    .Desktop-module__container___uB5BF .Desktop-module__leftArea___25X3n .Desktop-module__aboutTextBox___1p-y6 {
      width: 480px;
      margin-left: 20px; }
      .Desktop-module__container___uB5BF .Desktop-module__leftArea___25X3n .Desktop-module__aboutTextBox___1p-y6 .Desktop-module__aboutText___af7ku {
        margin-bottom: 20px;
        font-size: 15px;
        color: #ffffff; }
  .Desktop-module__container___uB5BF .Desktop-module__rightArea___2OvmN {
    width: 400px; }

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/pages/About/templates/Mobile.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___2TsDO {
  width: 750px;
  padding-top: 150px;
  margin: 0px auto; }
  .Mobile-module__container___2TsDO .Mobile-module__leftArea___3rdMF {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .Mobile-module__container___2TsDO .Mobile-module__leftArea___3rdMF .Mobile-module__titleBox___GkrPz {
      position: relative;
      margin-bottom: 80px; }
      .Mobile-module__container___2TsDO .Mobile-module__leftArea___3rdMF .Mobile-module__titleBox___GkrPz .Mobile-module__text___FRAaQ {
        font-size: 80px;
        font-weight: bold;
        color: #ffffff; }
      .Mobile-module__container___2TsDO .Mobile-module__leftArea___3rdMF .Mobile-module__titleBox___GkrPz .Mobile-module__image___3SyYj {
        position: absolute;
        top: 5px;
        left: 425px;
        width: 70px;
        height: 70px; }
    .Mobile-module__container___2TsDO .Mobile-module__leftArea___3rdMF .Mobile-module__aboutTextBox___3sQTM {
      width: 650px; }
      .Mobile-module__container___2TsDO .Mobile-module__leftArea___3rdMF .Mobile-module__aboutTextBox___3sQTM .Mobile-module__aboutText___2O0xA {
        margin-bottom: 20px;
        font-size: 22px;
        color: #ffffff; }
  .Mobile-module__container___2TsDO .Mobile-module__rightArea___6lmP5 {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/components/molecules/ContentElements/ResumeCard/Desktop.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___2DVnD {
  width: 380px;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 6px -2px rgba(255, 255, 255, 0.4); }
  .Desktop-module__container___2DVnD .Desktop-module__titleText___1c4GA {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff; }
  .Desktop-module__container___2DVnD .Desktop-module__hashtagArea___19-vP {
    margin-top: 10px; }
    .Desktop-module__container___2DVnD .Desktop-module__hashtagArea___19-vP .Desktop-module__hashtag___2NebK {
      padding: 2px 5px;
      font-size: 12px;
      color: #ffffff;
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      border: 1px solid #ffffff;
      border-radius: 3px; }
  .Desktop-module__container___2DVnD .Desktop-module__descriptionArea___2KRJz {
    margin-top: 10px; }
    .Desktop-module__container___2DVnD .Desktop-module__descriptionArea___2KRJz .Desktop-module__descriptionText___3vg_x {
      margin-bottom: 4px;
      font-size: 10px;
      color: #ffffff; }

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/components/molecules/ContentElements/ResumeCard/Mobile.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___3oV8p {
  width: 500px;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 6px -2px rgba(255, 255, 255, 0.4); }
  .Mobile-module__container___3oV8p .Mobile-module__titleText___1Rpnd {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; }
  .Mobile-module__container___3oV8p .Mobile-module__hashtagArea___1MZJF {
    margin-top: 20px; }
    .Mobile-module__container___3oV8p .Mobile-module__hashtagArea___1MZJF .Mobile-module__hashtag___16yAM {
      padding: 4px 6px;
      font-size: 20px;
      color: #ffffff;
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      border: 1px solid #ffffff;
      border-radius: 3px; }
  .Mobile-module__container___3oV8p .Mobile-module__descriptionArea___1_9Hk {
    margin-top: 12px; }
    .Mobile-module__container___3oV8p .Mobile-module__descriptionArea___1_9Hk .Mobile-module__descriptionText___2ymJP {
      margin-bottom: 6px;
      font-size: 20px;
      color: #ffffff; }

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/pages/Career/templates/Desktop.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___1vVha {
  width: 980px;
  padding: 150px 0px;
  margin: 0px auto; }
  .Desktop-module__container___1vVha .Desktop-module__timelineArea___2mpIq {
    max-width: 980px; }
    .Desktop-module__container___1vVha .Desktop-module__timelineArea___2mpIq .Desktop-module__dateText___167bt {
      font-size: 20px;
      color: #ffffff; }

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/pages/Career/templates/Mobile.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___2Thzq {
  width: 750px;
  padding: 150px 0px;
  margin: 0px auto; }
  .Mobile-module__container___2Thzq .Mobile-module__timelineArea___1XdKZ {
    max-width: 750px; }
    .Mobile-module__container___2Thzq .Mobile-module__timelineArea___1XdKZ .Mobile-module__dateText___HbCRU {
      font-size: 20px;
      color: #ffffff; }

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/pages/Home/templates/Desktop.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Desktop-module__container___1axfQ {
  width: 980px;
  padding-top: 150px;
  margin: 0px auto; }
  .Desktop-module__container___1axfQ .Desktop-module__titleBox___3HZ34 {
    display: flex;
    justify-content: center; }
    .Desktop-module__container___1axfQ .Desktop-module__titleBox___3HZ34 .Desktop-module__profileImage___2AgGB {
      margin-right: 60px;
      width: 300px;
      height: 300px;
      border-radius: 150px;
      border: 5px white dashed; }
    .Desktop-module__container___1axfQ .Desktop-module__titleBox___3HZ34 .Desktop-module__titleTextBox___SbYVo .Desktop-module__greetingText___3BqC6 {
      font-size: 120px;
      color: #ffffff;
      font-weight: bold; }
  .Desktop-module__container___1axfQ .Desktop-module__wiseSayingText___1HVny {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center; }
  .Desktop-module__container___1axfQ .Desktop-module__myselfText___LSXs_ {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    text-align: center; }

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/pages/Home/templates/Mobile.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.Mobile-module__container___3ZXi8 {
  width: 750px;
  padding-top: 150px;
  margin: 0px auto; }
  .Mobile-module__container___3ZXi8 .Mobile-module__titleBox___vMR9P {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .Mobile-module__container___3ZXi8 .Mobile-module__titleBox___vMR9P .Mobile-module__profileImage___1sm8Z {
      text-align: center;
      width: 400px;
      height: 400px;
      border-radius: 200px;
      border: 5px white dashed; }
    .Mobile-module__container___3ZXi8 .Mobile-module__titleBox___vMR9P .Mobile-module__titleTextBox___17RD6 .Mobile-module__greetingText___eJTk9 {
      font-size: 100px;
      color: #ffffff;
      font-weight: bold;
      text-align: center; }
  .Mobile-module__container___3ZXi8 .Mobile-module__wiseSayingText___2FFLi {
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center; }
  .Mobile-module__container___3ZXi8 .Mobile-module__myselfText___1gqPy {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    text-align: center; }

