@import '../../../assets/scsses/config.scss';

.frame {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;
  .container {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .leftArea {
      margin: 0 20px;
      .titleBox {
        position: relative;
        margin-bottom: 80px;
        .text {
          font-size: 30px;
          font-weight: bold;
          color: $white;
        }
        .image {
          position: absolute;
          top: 5px;
          left: 425px;
          width: 70px;
          height: 70px;
        }
      }
      .aboutTextBox {
        width: 1000px;
        margin-left: 20px;
        .aboutText {
          margin-bottom: 20px;
          font-size: 17px;
          color: $white;
        }
        .ctext{
          color : #48d2eb
        }
      }
    }
    .rightArea {
      width: 600px;
    }
  }
}
