@import '../../../assets/scsses/config.scss';

.frame {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;

  .container {
    width: 750px;
    margin: 20px auto;

    .leftArea {
      width: 750px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .titleBox {
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: left;
        .text {
          font-size: 40px;
          font-weight: bold;
          color: $white;
        }
        .image {
          position: absolute;
          top: 5px;
          left: 425px;
          width: 70px;
          height: 70px;
        }
      }
      .aboutTextBox {
        width: 650px;
        .aboutText {
          margin-bottom: 20px;
          font-size: 22px;
          color: $white;
        }
      }
    }
    .rightArea {
      width: 750px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 100px;
    }
  }
}
