@import '../../../assets/scsses/config.scss';

.container {
  width: 750px;
  padding: 150px 0px;
  margin: 0px auto;

  .leftArea {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .titleBox {
      position: relative;
      margin-bottom: 80px;
      .text {
        font-size: 80px;
        font-weight: bold;
        color: $white;
      }
      .image {
        position: absolute;
        top: 5px;
        left: 425px;
        width: 70px;
        height: 70px;
      }
    }
    .aboutTextBox {
      width: 650px;
      .aboutText {
        margin-bottom: 20px;
        font-size: 22px;
        color: $white;
      }
    }
  }
  .rightArea {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
