@import '../../../assets/scsses/config.scss';

.frame {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;

  .container {
    min-width: 750px;
    margin: 0 auto;
    .titleBox {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .profileImage {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        border: 5px white dashed;
        margin: 20px;
      }
      .titleTextBox {
        .greetingText {
          font-size: 120px;
          color: $white;
          font-weight: bold;
        }
      }
    }
    .wiseSayingText {
      margin-top: 20px;
      font-size: 30px;
      color: $white;
      font-weight: bold;
      text-align: center;
    }
    .myselfText {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      font-size: 36px;
      color: $white;
      font-weight: bold;
      text-align: center;
    }
    .guideBox {
      position: absolute;
      right: 0px;
      bottom: 200px;

      .downArrowImage {
        width: 50px;
        height: 50px;
      }
      .downArrowText {
        writing-mode: vertical-rl;
        font-size: 20px;
        color: $white;
        font-weight: bold;
        line-height: 50px;
        font-weight: bold;
      }
    }
  }
}
