@import '../../../assets/scsses/config.scss';

.frame {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $primary;
  height: 100vh;

  .container {
    position: relative;
    width: 750px;
    margin: 0px auto;
    .titleBox {
      width: 750px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .profileImage {
        text-align: center;
        width: 400px;
        height: 400px;
        border-radius: 200px;
        border: 5px white dashed;
      }
      .titleTextBox {
        .greetingText {
          font-size: 100px;
          color: $white;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    .wiseSayingText {
      margin-bottom: 40px;
      font-size: 40px;
      color: $white;
      font-weight: bold;
      text-align: center;
    }
    .myselfText {
      display: flex;
      justify-content: center;
      font-size: 40px;
      color: $white;
      font-weight: bold;
      text-align: center;
    }
    .guideBox {
      position: absolute;
      right: 0px;

      .downArrowImage {
        width: 50px;
        height: 50px;
      }
      .downArrowText {
        writing-mode: vertical-rl;
        font-size: 20px;
        color: $white;
        font-weight: bold;
        line-height: 50px;
        font-weight: bold;
      }
    }
  }
}
