@import '../../../assets/scsses/config.scss';

.container {
  padding: 150px 0px;
  margin: 0px auto;
  min-height: 100vh;
  .timelineArea {
    .dateText {
      font-size: 20px;
      color: $white;
    }
  }
}
