@import '../../../assets/scsses/config.scss';

.container {
  width: 750px;
  padding: 150px 0px;
  margin: 0px auto;
  .timelineArea {
    max-width: 750px;
    .dateText {
      font-size: 20px;
      color: $white;
    }
  }
}
