@import '../../../../assets/scsses/config.scss';

.container {
  width: 90%;
  border: 1px solid $white;
  padding: 20px;
  margin-left: 10px;

  .titleText {
    font-size: 30px;
    font-weight: bold;
    color: $white;
  }  
  .teckText {
    font-size: 14px;
    color: $white;
    margin-top: 10px;
  }

  .stackBox {
    margin-top: 20px;
    .stackText {
      padding: 2px 5px;
      font-size: 18px;
      color: #48d2eb;
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      border: 1px solid #66B2FF;
      border-radius: 3px;
    }
  }
}
