@import '../../../../assets/scsses/config.scss';

.container {
  width: 360px;
  border: 1px solid $white;
  padding: 20px;

  .titleText {
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }

  .stackBox {
    margin-top: 20px;
    .stackText {
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      display: inline-block;
    }
  }
}
