@import '../../../../assets/scsses/config.scss';

.container {
  width: 360px;
  border: 1px solid $white;
  padding: 20px;

  .titleText {
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }

  .stackBox {
    margin-top: 20px;
    .stackText {
      padding: 2px 5px;
      font-size: 20px;
      color: $white;
      display: inline-block;
      margin-top: 4px;
      margin-right: 4px;
      border: 1px solid $white;
      border-radius: 3px;
    }
  }
}
