@import '../../../assets/scsses/config.scss';

.container {
  height: 60px;
  background-color: $primary;
  .flex {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .leftBox {
      .copyRightText {
        font-size: 15px;
        font-weight: bold;
        color: $white;
      }
    }
    .rightBox {
      .iconBox {
        .icon {
          margin-right: 10px;
          filter: invert(100%);
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
